<body>

<%= render 'layouts/header' %>

<div class="container" style="margin-top: 70px;">
	<div class="row">
		<div class="col-lg-3">
			<div class="col">
				<h2>User info</h2>
				<p>名前 : <%= @user.name %></p>
				<p>メールアドレス : <%= @user.email %></p>
				<%= link_to '', edit_user_path, {class: "glyphicon glyphicon-wrench"} %>

			</div>

			<div class="col">
				<h1>User info</h1>
				<p>名前 : <%= @user.name %></p>
				<p>メールアドレス : <%= @user.email %></p>
			</div>
		</div>

		<div class="col-lg-9">
			<h1>テストテスト</h1>
			<h1>テストテスト</h1>
			<h1>テストテスト</h1>
			<h1>テストテスト</h1>
			<h1>テストテスト</h1>
		</div>

	</div>

</div>


</body>